{% extends "_StaticNavLayout.html" %}
{% load static %}
{% load math_filters %}
{% load humanize %}
{% block title %}
BlackSmith's Winery - Cart
{% endblock title %}
{% block content %}
<div class="modules--1 bg-white relative text-black">
  <h3 class="font-[GTSuperDisplay] text-[2rem]">Your shopping cart</h3>
  <div class="flex justify-between flex-row">
    <div class="w-[70%]">
      <table class="w-full">
        <thead class="">
            <tr class="text-left uppercase text-[1.2rem] font-[GTSuperDisplay]">
              <th class="eyebrow p-[20px] border-b-[1px] border-b-[#b2b2b2]">Items</th>
              <th class="eyebrow p-[20px] text-center border-b-[1px] border-b-[#b2b2b2]">Price</th>
              <th class="eyebrow p-[20px] text-center border-b-[1px] border-b-[#b2b2b2]">Qty</th>
              <th class="eyebrow p-[20px] text-center border-b-[1px] border-b-[#b2b2b2]">SubTotal</th>
            </tr>
          </thead>
          <tbody class="pt-[1rem]">
            {% for item in cart.items.all  %}
            <tr>
              <td class="">
                <img class="w-[150px] h-[150px] p-[25px] -ml-[0rem] mr-[1.5rem] object-contain inline-block" src="{{ item.product.image.url }}" />
                <a class="inline-block underline" href="{% url 'product/details' item.product.slug %}">{{ item.product.name }}</a>
              </td>
              <td class="text-center ml-auto mr-[3.5rem]">
                <span>£{{ item.product.price }}</span>
              </td>
              <td class="text-center ml-auto mr-[3.5rem]">
                <input name="quantity" id="quantity" class="text-[20px] p-[5px] !w-[45px] font-[700] text-center border border-[#b2b2b2]" value="{{ item.quantity }}"/>
              </td>
              <td class="text-center mr-[3.5rem] mb-[0.6rem]">
                <span>£{{ item.quantity|multiply:item.product.price|floatformat:2|intcomma }}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="text-left uppercase text-[1.2rem]">
              <td class="eyebrow p-[20px] border-t-[1px] border-t-[#b2b2b2] font-[GTSuperDisplay]" colspan="3">Total</td>
              <td class="p-[20px] text-center border-t-[1px] border-t-[#b2b2b2]">£{{ total_price|floatformat:2|intcomma }}</td>
            </tr>
      </table>
    </div>
    <div class="w-[29%]">
      <div class="p-[20px] bg-[#EFECE8]">
        <div class="w-full border-b-[1px] border-b-[#b2b2b2]">
          <h1 class="uppercase text-[1.5rem]">Summary</h1>
        </div>
        <div class="w-full border-b-[1px] border-b-[#b2b2b2]">
          <table class="w-full">
            <tbody class="pt-[1rem] leading-[2rem]">
              <tr>
                <th class="text-[1rem] text-left">Subtotal</th>
                <td class="text-[1rem] text-right">£{{ total_price|floatformat:2|intcomma }}</td>
                </td>
              </tr>
              <tr>
                <th class="text-[1rem] text-left">VAT</th>
                <td class="text-[1rem] text-right">£{{ vat|floatformat:2|intcomma }}</td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pt-[1rem] ">
          <button class="cursor-pointer bg-black w-full text-white border-none p-[1.2rem] font-[500] text-center" type="button" onclick="">
            <div>
              Proceed to Checkout
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

