{% extends "_StaticNavLayout.html" %}
{% load static %}
{% load math_filters %}
{% block title %}
BlackSmith's Winery - Cart
{% endblock title %}
{% block content %}
<div class="modules--1 bg-white relative text-black">
  <div class="flex justify-between flex-row">
    <div class="w-[70%]">
      <table class="w-full">
        <thead class="">
            <tr class="text-left uppercase text-[1.2rem] font-[GTSuperDisplay]">
              <th class="p-[20px] border-b-[1px] border-b-[#b2b2b2]">Items</th>
              <th class="p-[20px] text-center border-b-[1px] border-b-[#b2b2b2]">Price</th>
              <th class="p-[20px] text-center border-b-[1px] border-b-[#b2b2b2]">Qty</th>
              <th class="p-[20px] text-center border-b-[1px] border-b-[#b2b2b2]">SubTotal</th>
            </tr>
          </thead>
          <tbody class="pt-[1rem]">
            {% for item in cart.items.all  %}
            <tr>
              <td class="">
                <img class="w-[150px] h-[150px] p-[25px] -ml-[0rem] mr-[1.5rem] object-contain inline-block" src="{{ item.product.image.url }}" />
                <a class="inline-block">{{ item.product.name }}</a>
              </td>
              <td class="text-center ml-auto mr-[3.5rem]">
                <span>£{{ item.product.price }}</span>
              </td>
              <td class="text-center ml-auto mr-[3.5rem]">
                <input name="quantity" id="quantity" class="text-[20px] p-[5px] !w-[45px] font-[700] text-center border border-[#b2b2b2]" value="{{ item.quantity }}"/>
              </td>
              <td class="text-center mr-[3.5rem] mb-[0.6rem]">
                <span>£{{ item.quantity|multiply:item.product.price }}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="w-[24%]">
      {% comment %}
      Add fields for order_summary
      {% endcomment %}
    </div>
  </div>
</div>
{% endblock content %}

