{% load static %}
{% load humanize %}
<div class="flex flex-col h-full flex-none">
  <div class="flex items-center justify-between pb-[3rem] border-b-[#D7D7D7] border-b-[0.1rem]">
    <h4 class="text-[2rem] font-[GTSuperDisplay]">Your Cart ({{ total_quantity }})</h4>
    <a class="text-[1.2rem] hidden">Account</a>
    <p class="eyebrow ">
    Total: £{{ total_price|floatformat:2|intcomma }}
    </p>
  </div>
</div>
<div class="overflow-auto flex-1">
  <ul class="w-full">
    {% for item in cart.items.all %}
    <li class="flex border-b-[#D7D7D7] border-b-[0.1rem] py-[1.5rem] relative items-center">
      <div class="w-[115px] h-[115px] -ml-[0rem] mr-[1.5rem]">
        <img class="w-full h-full block object-contain" src="{{ item.product.image.url }}" />
      </div>
      <div class="pr-[2.5rem] max-w-[38%]">
        <a class="inline-block max-w-[14em]">{{ item.product.name }}</a>
      </div>
      <div class="text-center ml-auto mr-[3.5rem]">
        <span>£{{ item.product.final_price|floatformat:2|intcomma }}</span>
      </div>
      <div class="text-center mr-[3.5rem] mb-[0.6rem]">
        <span>{{ item.quantity }}</span>
      </div>
      <form class="" method="post" action="{% url 'cart/remove' item.id %}">
        {% csrf_token %}
        <input name="item-id" class="hidden" value="{{ item.id }}" />
        <button class="underline" type="submit">Remove</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  <button type="button" class="cursor-pointer mt-[2rem] bg-black w-full uppercase text-white border-none p-[1.2rem] font-[500] text-center" onclick="location.href='{% url 'cart/details' %}'">
    View and Checkout
  </button>
</div>
