{% extends '_AdminDashboardLayout.html' %}
{% load static %}
{% load humanize %}

{% block section_name %}
Products
{% endblock section_name %}
{% block section_desc %}
Add New Product
{% endblock section_desc %}

{% block content %}
<div class="p-[2rem]">
    <div class="w-full">
        {% if status and status == "OK" %}
        <div class="w-full">
            <div class="p-[2rem] bg-[#b6eacd] rounded-[0.5rem]">
                <h1 class="text-[.9rem]">Success</h1>
                <h1 class="text-[.8rem]">{{ message }}</h1>
            </div>
        </div>
        {% elif status and status == "FAILED"  %}
        <div class="w-full">
            <div class="p-[2rem] bg-[#fee3e1]">
                <h1 class="text-[.9rem]">Error</h1>
                <h1 class="text-[.8rem]">{{ message }}</h1>
            </div>
        </div>
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data" class="mt-[1rem]">
        {% csrf_token %}
        <div class="flex flex-nowrap flex-row justify-between items-start">
            <div class="w-[29%] bg-white p-[3rem] rounded-2xl h-full">
                <div class="font-[GTSuperDisplay] text-2xl">
                    <h1 class="text-[2rem]">Product Image</h1>
                </div>
                <div class="w-full mt-[2rem] border-[1px] border-black">
                    <img id="product-image-preview" class="h-full w-full object-contain p-[1rem]" alt="No image uploaded."/>
                </div>
                <div class="flex flex-row flex-nowrap mt-[2rem] items-center justify-center">
                    <input type="file" id="image" name="image" accept="image/*" class="hidden" />
                    <button class="text-white h-[50px] bg-black rounded-4xl py-[0.5rem] px-[2rem] cursor-pointer" type="button" onclick="document.getElementById('image').click();">
                        <span>Change</span>
                    </button>
                </div>
            </div>
            <div class="w-[70%] bg-white p-[3rem] rounded-2xl h-full">
                <div class="font-[GTSuperDisplay] text-2xl">
                    <h1 class="text-[2rem]">General Information</h1>
                </div>
                <hr class="mt-[1rem]" />
                <div class="w-full mt-[1rem]">
                    <div class="w-full flex flex-row">
                        <div class="w-full">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Name</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="name" type="text" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.name.value }}" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex flex-row justify-between mt-[1rem]">
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Category</h2>
                            <div class="w-full border-[1px] border-black">
                                <select name="category" type="text" list="categories" class="text-[1.2rem] p-[1rem] w-full" required value autocomplete="off">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Brand</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="brand" type="text" list="brands" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.brand.value }}" autocomplete="off"/>
                                <datalist id="brands">
                                    {% for brand in brands %}
                                        <option value="{{ brand.name }}">{{ brand.name }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Country</h2>
                            <div class="w-full border-[1px] border-black">
                                <select name="country" class="text-[1.2rem] p-[1rem] w-full" required autocomplete="off">
                                    {% for country in countries %}
                                        <option value="{{ country.id }}">
                                            {{ country.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex flex-row justify-between mt-[1rem]">
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Original Price</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="original_price" type="number" class="text-[1.2rem] p-[1rem] w-full" min="0" required value="{{ form.original_price.value }}" step=".01" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Discounted Price</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="discounted_price" type="number" class="text-[1.2rem] p-[1rem] w-full" min="0" value="{{ form.discounted_price.value }}" step=".01" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Stock</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="stock" type="number" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.stock.value }}" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-[2rem] mb-[2rem]"/>
                    <div class="w-full flex flex-row mt-[1rem]">
                        <div class="w-full">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Description</h2>
                            <div class="w-full border-[1px] border-black">
                                <textarea name="description" type="text" class="text-[1.2rem] p-[1rem] w-full border-none outline-none" required>{{ form.description.value }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex flex-row justify-between mt-[1rem]">
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Vintage</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="vintage" type="number" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.vintage.value }}" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">ABV (%)</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="abv" type="number" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.abv.value }}" step=".01" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="w-[31%]">
                            <h2 class="text-[1.5rem] font-[GTSuperDisplay]">Volume (ml)</h2>
                            <div class="w-full border-[1px] border-black">
                                <input name="volume" type="number" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.volume.value }}" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-auto mt-[2rem]">
                    <button class="text-white h-[50px] bg-black rounded-4xl py-[0.5rem] px-[5rem] cursor-pointer" type="submit">
                        <span>Add Product</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('image').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const imgPreview = document.getElementById('product-image-preview');
            imgPreview.src = URL.createObjectURL(file);
        }
    });
</script>
{% endblock content %}
