{% extends "_StaticNavLayout.html" %}
{% load static %}
{% block title %}
Admin | Add New Product
{% endblock title %}
{% block content %}
<div class="modules--0 mt-0 mb-0 w-full h-[calc(100vh-12.1rem)]">
    <div class="top-[calc(-12.1rem)] h-[calc(100vh+12.1rem)] left-0 w-full overflow-hidden absolute">
        <div class="slide--0 inactive top-0 left-0 w-full h-full z-0 absolute">
            <div class="w-full h-full">
                <picture class="w-full h-full object-cover">
                    <img class="w-full h-full object-cover" src="{% static "/images/banners/banner_0.jpg" %}" />
                </picture>
            </div>
        </div>
    </div>
    <div class="top-[33%] mr-auto ml-auto z-2 absolute visible">
        <p class="eyebrow text-gray-400 ">
            Add A New Product
        </p>
        <h1 class="font-[GTSuperDisplay] text-white text-[5vw] pt-[2.5rem] pb-[2.5rem]">
            Over the horizon
        </h1>
    </div>
</div>
<div class="modules--1 bg-white">
    <div class="flex flex-wrap justify-between flex-col">
        <div class="p-[5rem] mt-[5vh] mb-[5vh] w-full">
            <h4 class="mb-[1.5rem] font-[GTSuperDisplay] text-3xl">Create a new product</h4>
            <p class="text-gray-600 mb-[1.5rem]">
                Please complete the form below to add a new product. <br />
                <span class="!text-red-500">*</span> indicates required fields. All fields are required.
            </p>
            <form method="post" class="mb-[1.5rem] bg-[#EFECE8]" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex flex-col justify-center items-center">
                    <div class="w-full p-[5vw]">
                        <p class="text-black text-[1rem] font-bold">Product Information</p>
                        <div class="flex flex-wrap">
                          <input type="text" name="id" value="{{ product.id }}" class="hidden">
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="name" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Name</label>
                                </div>
                            </div>
                              <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="description" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Description</label>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="price" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Price(£)</label>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="volume" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Volume(ml)</label>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="abv" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>ABV(%)</label>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="vintage" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Vintage</label>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input list="brands" name="brand" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Brand</label>
                                    <datalist id="brands">
                                      {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                                      {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input list="categories" name="category" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Category</label>
                                    <datalist id="categories">
                                      {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                      {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input list="countries" name="country" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Country of Origin</label>
                                    <datalist id="countries">
                                      {% for country in countries  %}
                                        <option value="{{ country.id }}">{{ country.name }}</option>
                                      {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="image" type="file" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[4.01rem]"><span class="!text-red-500">*</span>ImageFile(*.png)</label>
                                </div>
                            </div>
                            <div class="w-full pl-[1%] group/field inline-flex flex-col mt-[3rem] align-top border-gray-500">
                                <div class="mt-[.2rem] mb-[.2rem] relative h-[2.4rem] w-full">
                                    <input name="stock_quantity" type="text" class="peer/field-input required text-[1.2rem] h-[2rem] h-full w-full outline-none" placeholder=" " />
                                    <span class="absolute left-0 -bottom-[6px] h-[2px] w-full bg-gray-500 transition-colors duration-100 group-hover/field:bg-black"></span>
                                    <label class="text-gray-500 text-[0.9rem] absolute block transform -translate-y-[3.01rem] peer-placeholder-shown/field-input:-translate-y-[2.01rem] peer-placeholder-shown/field-input:text-[1.2rem] transition-[font-size,translate] ease-in duration-100"><span class="!text-red-500">*</span>Stock</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-[5vw] justify-center">
                            <button class="bg-black w-full text-white border-none w-[50%] p-[1.2rem] font-[500] text-center cursor-pointer" type="submit">
                                <div>
                                    Edit Product
                                </div>
                            </button>
                        </div>
                        <br />
                        <span class="text-red-500 ml-[25%]">
                          {% if form.errors %}
                            <ul>
                              {% for field in form %}
                                {% for error in field.errors %}
                                  <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
