{% extends "_StaticNavLayout.html" %}
{% load static %}
{% load humanize %}
{% block title %}
Forgot Password
{% endblock title %}
{% block content %}
<div class="modules--2 bg-white pb-[10rem]">
    <h1 class="font-[GTSuperDisplay] text-[2rem]">Please enter your email below and we will send a link to renew your password!</h1>
    <form class="max-w-[50%]" method="post">
        {% csrf_token %}
        <div class="w-full border-[1px] border-black">
            <input name="email" type="email" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.email.value|default_if_none:"" }}" autocomplete="off"
            placeholder="Enter your email"/>
        </div>
        <button class="bg-black text-white border-none p-[1.2rem] font-[500] text-center cursor-pointer mt-[1rem] w-[200px]" type="submit">
            <div>
                Submit
            </div>
        </button>
    </form>
    <a href="{% url 'account/login' %}">Login now</a>
</div>
{% endblock content %}