{% extends "_StaticNavLayout.html" %}
{% load static %}
{% load humanize %}
{% block title %}
Success
{% endblock title %}
{% block content %}
<div class="modules--2 bg-white pb-[10rem]">
    <h1 class="font-[GTSuperDisplay] text-[2rem]">Set your new password!</h1>
    <form class="max-w-[50%]" method="post">
        {% csrf_token %}
        <div class="w-full border-[1px] border-black">
            <input name="new_password" type="password" class="text-[1.2rem] p-[1rem] w-full" required value="{{ form.new_password.value|default_if_none:"" }}" autocomplete="off"
            placeholder="Enter your new password"/>
        </div>
        <button class="bg-black w-full text-white border-none p-[1.2rem] font-[500] text-center cursor-pointer" type="submit">
            <div>
                Save
            </div>
        </button>
    </form>
</div>
{% endblock content %}