{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}
      Admin Dashboard
      {% endblock title %}</title>
    {% tailwind_css %}
  </head>
  <body class="isloaded font-[Roboto] m-0 p-0">
    <div class="root">
      <div class="flex flex-nowrap">
        <div class="w-[15%] h-full text-white bg-[#1D1C1A] fixed">
          <div class="h-[15vh] w-full flex items-center justify-center">
            <h1 class="text-[1.5rem] w-full font-[GTSuperDisplay] text-center">@BlackSmithWinery</h1>
          </div>
          <div class="w-full h-[85vh]">
            <div class="flex flex-nowrap">
              <ul class="w-full">
                <li class="font-[GTSuperDisplay]">
                  <div class="{% if choice == 'overview' %}border-l-[3px] bg-[#2d2d2e]{% endif %} h-[70px] flex items-center text-[1.2rem]">
                    <i class="fa fa-home ml-[20px]"></i>
                    <a class="text-left w-full block ml-[10px]" href="{% url "dashboard/admin" %}">Overview</a>
                  </div>
                </li>
                <li class="font-[GTSuperDisplay]">
                  <div class="{% if choice == 'orders' %}border-l-[3px] bg-[#2d2d2e]{% endif %} h-[70px] flex items-center text-[1.2rem]">
                    <i class="fa fa-shopping-cart ml-[20px]"></i>
                    <a class="text-left w-full block ml-[10px]" href="{% url "dashboard/orders" %}">Orders</a>
                  </div>
                </li>
                <li class="font-[GTSuperDisplay]">
                  <div class="{% if choice == 'products' %}border-l-[3px] bg-[#2d2d2e]{% endif %} h-[70px] flex items-center text-[1.2rem]">
                    <i class="fa fa-shopping-basket ml-[20px]"></i>
                    <a class="text-left w-full block ml-[10px]" href="{% url "dashboard/products" %}">Products</a>
                  </div>
                </li>
                <li class="font-[GTSuperDisplay]">
                  <div class="{% if choice == 'configs' %}border-l-[3px] bg-[#2d2d2e]{% endif %} h-[70px] flex items-center text-[1.2rem]">
                    <i class="fa fa-cog ml-[20px]"></i>
                    <a class="text-left w-full block ml-[10px]" href="{% url "dashboard/products" %}">Configurations</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-[85%] h-full left-[15%] relative">
          <div class="w-full">
            <div class="h-[15vh] w-full">
              <div class="px-[5rem] flex flex-nowrap flex-row items-center h-full">
                <div class="flex justify-center items-center">
                  <div class="flex flex-col">
                    <h1 class="text-[1.5rem] font-[GTSuperDisplay]">
                      {% block section_name %}
                      {% endblock section_name %}
                    </h1>
                    <h3 class="text-[1.2rem] eyebrow">
                      {% block section_desc %}
                      {% endblock section_desc %}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full h-full bg-[#f3f3f3]">
              {% block content %}
              {% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static "/js/site.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
