{% load static %}
<canvas id="topCategoriesChart"></canvas>
<script>
fetch("{% url 'api/top-category-chart' %}")
  .then(res => res.json())
  .then(chartData => {
    const ctx = document.getElementById('topCategoriesChart').getContext('2d');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: chartData.labels,
        datasets: [{
          data: chartData.data,
          backgroundColor: [
            '#1c1914', '#545351', '#777775', '#989797', '#d9d7d6', '#f4f2fb'
          ]
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
          },
          title: {
            display: true,
            text: 'Top-Selling Categories'
          }
        }
      }
    });
  });
</script>